@import "partials/settings";
@import "../public/bower_components/foundation/scss/foundation";

// HEADER
#header_section {
  @media #{$medium-only} { 
  
  }
  background-color: #202227;
  box-shadow: 3px 3px 3px #C4C3C4;
  .border {
    border-image: url('/images/border.png') 45% repeat;
    // border: 2px solid red;
  }
  #header_logo_section_medium_down {
    margin: 50px;
    // border: 2px solid red;
    #title_section {
      .title {
        color: #1AC5C2;
        font-size: 20px;
      }
    }
    #logo {
      float: left;
    }
  }
  #header_logo_section {
    float: left;
    box-sizing: border-box;
    @media #{$large-up} { 
      margin-left: 100px;
      margin-top: 5px;
      .title {
        color: #1AC5C2;
        font-size: 40px;
        // letter-spacing: 5px;
      }
      #logo {
      }
    }
  }
  #tablet_desktop_nav {
    @media #{$medium-only} { 
      margin-right: 50px;
      margin-top: -100px;
    }
    @media #{$large-up} { 
      margin-right: 60px;
      margin-top: 25px;
    }
    float: right;
    box-sizing: border-box;
    // border: 2px solid white;
    .nav_item {
      display: inline-block;
      margin-left: 20px;
      font-size: 12px;
      @media #{$large-up} { 
        border-bottom: 5px solid #1AC5C2;
      }
      a {
        color: #1AC5C2;
      }
      a:hover {
        color: #FFFFFF;
      }
    }
    .nav_item:hover {
      @media #{$large-up} { 
        border-bottom: 5px solid #FFFFFF;
      }
    }
  }
} // END HEADER